#include <behaviors.dtsi>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include <dt-bindings/zmk/ext_power.h>

#define _ &kp
#define ___ &none
#define ______ &trans

#define DEF 0
#define ARW 1
#define NAV 2
#define SYM 3
#define NUMS 4
#define L5  5

#define MEH(key) LS(LC(LA(key)))

// Universal Layout bindings

#define SQuot     GRAVE
#define DQuot     LS(GRAVE)
#define Grave     RA(GRAVE)
#define Pipe      LS(BSLH)
#define Backslash RA(BSLH)
#define Nbsp      RA(SPACE)
#define Comma     LBKT
#define Semicolon LS(LBKT)
#define Dot       RBKT
#define Colon     LS(RBKT)
#define Minus     MINUS
#define Under     LS(MINUS)
#define Equal     EQUAL
#define Plus      LS(EQUAL)
#define Slash     BSLH
#define LBracket  DOT
#define LBrace    LS(DOT)
#define RBracket  FSLH
#define RBrace    LS(FSLH)
#define Ampersand COMMA
#define Tilde     SEMI

// Media keys rebinds
#define VOL_U C_VOL_UP
#define VOL_D C_VOL_DN
#define T_PRV C_PREV
#define T_NXT C_NEXT
#define T_PP  C_PP

// Window Management mapping
#define NextSpace LC(LG(RIGHT))
#define PrevSpace LC(LG(LEFT))

// Bluetooth profiles mapping
#define BT_1      &bt BT_SEL 0
#define BT_2      &bt BT_SEL 1
#define BT_3      &bt BT_SEL 2
#define BT_Clear  &bt BT_CLR_ALL
#define BT_Toggle &out OUT_TOG

// custom implementation of modified callum-mods,
// which can be released on second keypress
// and also work with swapper and/or tabber

#define PARAM_1 0
#define PARAM_2 0

#define MACRO(NAME, COMPATIBLE, BINDING_CELLS, BINDINGS) \
    NAME: NAME { \
        compatible = COMPATIBLE; \
        #binding-cells = <BINDING_CELLS>; \
        wait-ms = <0>; \
        tap-ms = <0>; \
        bindings = \
            <BINDINGS>; \
    };

#define MACRO_NO_PARAM(NAME, BINDINGS)  MACRO(NAME, "zmk,behavior-macro"          , 0, BINDINGS)
#define MACRO_ONE_PARAM(NAME, BINDINGS) MACRO(NAME, "zmk,behavior-macro-one-param", 1, BINDINGS)
#define MACRO_TWO_PARAM(NAME, BINDINGS) MACRO(NAME, "zmk,behavior-macro-two-param", 2, BINDINGS)

#define MAX_TIMER __UINT32_MAX__ // around 50 days

#define STICKY_FOREVER(NAME, BIND) \
    NAME: NAME { \
        compatible = "zmk,behavior-sticky-key"; \
        #binding-cells = <1>; \
        bindings = <BIND>; \
        release-after-ms = <MAX_TIMER>; \
        ignore-modifiers; \
    };

#define MODMORPH(NAME, NORMAL, MORPHED, MODS, KEEP_MODS) \
    NAME: NAME { \
        compatible = "zmk,behavior-mod-morph"; \
        #binding-cells = <0>; \
        bindings = <NORMAL>, <MORPHED>; \
        mods = <(MODS)>; \
        keep-mods = <(KEEP_MODS)>; \
    };

&sk {
        release-after-ms = <60000>;
};

/ {
    behaviors {
        MACRO_ONE_PARAM(
            m_release_key_twice,
            &macro_release
                &macro_param_1to1 &kp PARAM_1
                &macro_param_1to1 &kp PARAM_1
        )


        MACRO_ONE_PARAM(
            m_press_key_twice,
            &macro_press
                &macro_param_1to1 &kp PARAM_1
                &macro_param_1to1 &kp PARAM_1
            &macro_pause_for_release
            &macro_tap
                &m_release_key_twice PARAM_1
        )

        STICKY_FOREVER(sticky_forever, &m_press_key_twice)

        MODMORPH(
            cm_gui,
            &sticky_forever LGUI,
            &m_release_key_twice LGUI,
            MOD_LGUI,
            MOD_LGUI
        )

        MODMORPH(
            cm_alt,
            &sticky_forever LALT,
            &m_release_key_twice LALT,
            MOD_LALT,
            MOD_LALT
        )

        MODMORPH(
            cm_ralt,
            &sticky_forever RALT,
            &m_release_key_twice RALT,
            MOD_RALT,
            MOD_RALT
        )

        MODMORPH(
            cm_ctl,
            &sticky_forever LCTRL,
            &m_release_key_twice LCTRL,
            MOD_LCTL,
            MOD_LCTL
        )

        MODMORPH(
            cm_sft,
            &sticky_forever LSHIFT,
            &m_release_key_twice LSHIFT,
            MOD_LSFT,
            MOD_LSFT
        )

        MODMORPH(nav_1, &kp LS(N1), &kp N1, (MOD_LSFT | MOD_RSFT), 0)
        MODMORPH(nav_2, &kp LS(N2), &kp N2, (MOD_LSFT | MOD_RSFT), 0)
        MODMORPH(nav_3, &kp LS(N3), &kp N3, (MOD_LSFT | MOD_RSFT), 0)
        MODMORPH(nav_4, &kp LS(N4), &kp N4, (MOD_LSFT | MOD_RSFT), 0)
        MODMORPH(nav_5, &kp LS(N5), &kp N5, (MOD_LSFT | MOD_RSFT), 0)
        MODMORPH(nav_6, &kp LS(N6), &kp N6, (MOD_LSFT | MOD_RSFT), 0)
        MODMORPH(nav_7, &kp LS(N7), &kp N7, (MOD_LSFT | MOD_RSFT), 0)
        MODMORPH(nav_8, &kp LS(N8), &kp N8, (MOD_LSFT | MOD_RSFT), 0)
        MODMORPH(nav_9, &kp LS(N9), &kp N9, (MOD_LSFT | MOD_RSFT), 0)
        MODMORPH(nav_0, &kp LS(N0), &kp N0, (MOD_LSFT | MOD_RSFT), 0)

        MACRO_TWO_PARAM(
            m_hold_mod_press_key,
            &macro_press
                &macro_param_1to1 &kp PARAM_1
            &macro_tap
                &macro_param_2to1 &kp PARAM_2
        )

        MODMORPH(
            swap_ctrl,
            &m_hold_mod_press_key LCTRL TAB,
            &kp TAB,
            MOD_LCTL,
            MOD_LCTL
        )

        MODMORPH(
            swap_lalt,
            &m_hold_mod_press_key LALT TAB,
            &kp TAB,
            MOD_LALT,
            MOD_LALT
        )

        MODMORPH(
            swap_lgui,
            &m_hold_mod_press_key LGUI TAB,
            &kp TAB,
            MOD_LGUI,
            MOD_LGUI
        )

        MACRO_ONE_PARAM(
            la,
            &macro_tap
                &kp 0 // do nothing, fire all sticky keys
            &macro_press
                &macro_param_1to1 &mo PARAM_1
            &macro_pause_for_release
            &macro_release
                &macro_param_1to1 &mo PARAM_1
                &kp LSHFT
                &kp LCTRL
                &kp LALT
                &kp LGUI
        )

        tab_command: tab_command {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LG(TAB)>,
                <&macro_press>,
                <&macro_pause_for_release>,
                <&macro_release>;
        };

        sl1000: sl1000 {
            compatible = "zmk,behavior-sticky-key";
            bindings = <&mo>;
            #binding-cells = <1>;
            release-after-ms = <1000>;
        };

        tab_command_tab: tab_command_tab {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&tab_command>, <&sl1000>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        vim_yank_buff: vim_yank_buff {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp DQuot &kp PLUS &kp Y>,
                <&macro_press>,
                <&macro_pause_for_release>,
                <&macro_release>;
        };

        command_copy: command_copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Colon &kp N5 &kp Y &kp PLUS &kp ENTER>;
        };

        tt_key_cast: tt_key_cast {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp Z &kp LC(SPACE) &kp J &kp LG(N1)>;
        };

        zq_shift: zq_shift {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(Z) &kp LS(Q)>;
        };

        vi_terminal: vi_terminal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp ENTER &kp V>;
        };


        vi_prev_method: vi_prev_method {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBracket &kp M>;
        };

        vi_next_method: vi_next_method {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RBracket &kp M>;
        };

        vi_prev_rpt: vi_prev_rpt {
            compatible = "zmk,behavior-tap-repeat";
            #binding-cells = <0>;
            bindings = <&vi_prev_method>;
            wait-ms = <250>;
            tap-ms = <100>;
        };

        vi_next_rpt: vi_next_rpt {
            compatible = "zmk,behavior-tap-repeat";
            #binding-cells = <0>;
            bindings = <&vi_next_method>;
            wait-ms = <250>;
            tap-ms = <100>;
        };

        vi_prev_brace_method: vi_prev_brace_method {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBracket &kp LBrace>;
        };

        vi_next_brace_method: vi_next_brace_method {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RBracket &kp RBrace>;
        };

        vi_prev_brace_rpt: vi_prev_brace_rpt {
            compatible = "zmk,behavior-tap-repeat";
            #binding-cells = <0>;
            bindings = <&vi_prev_brace_method>;
            wait-ms = <250>;
            tap-ms = <100>;
        };

        vi_next_brace_rpt: vi_next_brace_rpt {
            compatible = "zmk,behavior-tap-repeat";
            #binding-cells = <0>;
            bindings = <&vi_next_brace_method>;
            wait-ms = <250>;
            tap-ms = <100>;
        };

        vi_search_method: vi_search_method {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&kp ESC &kp Slash &kp LBrace &kp ENTER &kp LC(L) &kp LS(V)>;
        };

        vi_search_rpt: vi_search_rpt {
            compatible = "zmk,behavior-tap-repeat";
            #binding-cells = <0>;
            bindings = <&vi_search_method>;
            wait-ms = <250>;
            tap-ms = <100>;
        };

        tab_ctrl: tab_ctrl {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LC(TAB)>,
                <&macro_press>,
                <&macro_pause_for_release>,
                <&macro_release>;
        };

        command_grave: command_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LG(GRAVE)>,
                <&macro_press>,
                <&macro_pause_for_release>,
                <&macro_release>;
        };

        command_grave_command: command_grave_command {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&command_grave>, <&tab_ctrl>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        lt_la_tui: lt_la_tui {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&la>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <60000>;
            flavor = "hold-preferred";
        };

        mt_alt_retro: mt_alt_retro {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
            retro-tap;
        };

        lt_tap_prefer_release: lt_tap_prefer_release {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            retro-tap;
        };

    };

};

/ {
    keymap {
        compatible = "zmk,keymap";

        def_layer {
            bindings = <
___         _ Q         _ W         _ E         _ R         _ T         _ Y         _ U         _ I         _ O         _ P         ___
___         _ A         _ S         _ D         _ F         _ G         _ H         _ J         _ K         _ L         _ Tilde     ___
___         _ Z         _ X         _ C         _ V         _ B         _ N         _ M         _ Ampersand _ LBracket  _ RBracket  ___
                                                _ RSHFT     &la NAV    &la NUMS        &lt_tap_prefer_release ARW SPACE &la SYM     _ CAPS
            >;
        };

        arrows_layer {
            bindings = <
___         _ F1        _ F2        _ F3        _ F4        _ F5        _ LC(LA(BSLH)) _ LA(R)     _ LA(L)     _ LA(S)     _ LA(LEFT_ARROW)        ___
___         _ F6        _ F7        _ F8        _ F9        _ F10       _ LEFT      _ DOWN      _ UP        _ RIGHT     _ LA(F7)                ___
_ LS(LA(N1)) _ F11      _ F12       _ C_VOL_DN  _ C_VOL_UP  _ C_MUTE    _ LS(LC(EQUAL)) _ LC(MINUS) _ LS(LC(MINUS)) _ LA(LC(LG(LEFT))) _ LA(LC(LG(RIGHT))) _ LS(LG(P))
                                            ______    ______     ______   ______      ___         ___
            >;
        };

        nav_layer {
            bindings = <
___         _ LA(LC(LG(G)))  &tab_command_tab 0 L5  _ LA(LC(LG(F)))  _ BSPC      _ ESC       _ LA(Comma) _ LA(Dot)  ___         _ RA(O)       _ RA(P)         ___
___         &cm_alt     &cm_ctl              &cm_gui      &cm_sft      _ RET       _ N1    _ N2    _ N3    _ N4    _ N5    ___
___         &zq_shift   _ LG(X)              _ LG(C)          _ LG(V)      _ TAB       _ N6    _ N7    _ N8    _ N9    _ N0    ___
                                            ______     ___               _ CAPS        &lt_tap_prefer_release ARW SPACE ______ ______
            >;
        };

        sym_layer {
            bindings = <
___         ___        ___        ___        ___        ___        ___        ___        ___        ___        ___        ___
___         _ Tilde     _ Grave     _ SQuot     _ DQuot     _ Minus     _ Plus      &cm_sft     &cm_gui     &cm_ctl     &cm_ralt    ___
___         _ Backslash _ RA(Ampersand) _ Semicolon _ Comma     _ Under     _ Equal     _ Dot       _ Colon     _ Pipe      _ Slash     ___
                        ___               &lt_la_tui NAV LC(SPACE)     ______       ______      ______      ___
            >;
        };

        numbers_layer {
            bindings = <
___         ___  ___  ___  &command_copy &command_grave_command 0 0  _ LC(LA(Comma)) _ LC(LA(Dot))    _ LC(LG(Tilde))          _ LC(LG(SQuot))       ___       ___
___         ___     ___     ___     ___      &vim_yank_buff &vi_prev_brace_rpt &vi_search_rpt        ___        ___        ___        ___
___         ___         ___         ___         &vi_terminal ___         &vi_prev_rpt &vi_next_rpt  ___        ___       ___ ___
                                    ___      _ CAPS         ___         ___ ___ ___
            >;
        };

        l5_layer {
            bindings = <
___         ___              _ LG(LA(LS(N6))) _ LA(LC(LG(E)))  _ LS(LG(LA(N7)))             ___              ___         ___         ___         ___  ___              ___
___         _ LS(LA(LG(N5))) _ LG(LA(LS(P)))  _ LG(LA(LS(D)))  _ LS(LA(LG(F))) _ LG(LA(LS(G)))  ___    ___    ___ ___ ___       ___
___         _ LG(LA(LS(Z)))  _ LS(LA(LG(N2))) _ LG(LA(LS(N1))) _ LS(LA(LG(V))) _ LG(LA(LS(N3))) ___    ___    ___ ___ ___       ___
                                              ___              ___             ___              ___         ___         ___
            >;
        };
    };
};
