#include <behaviors.dtsi>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include <dt-bindings/zmk/ext_power.h>

#define _ &kp
#define ___ &none
#define ______ &trans

/ {
    keymap {
        compatible = "zmk,keymap";

        def_layer {
            bindings = <
_ Q     _ W     _ E     _ R     _ T            _ Y     _ U     _ I     _ O    _ P
_ A     _ S     _ D     _ F     _ G            _ H     _ J     _ K     _ L    _ SEMI
_ Z     _ X     _ C     _ V     _ B            _ N     _ M     _ COMMA _ DOT  _ FSLH
                _ F1    _ F2    _ F3           _ F4    _ F5    _ F6
            >;
        };
    };
};
